/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    /* 这将使子元素均匀分布 */
    padding: 14px 20px;
    /* 添加一些内边距 */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    /* 使列表项水平显示 */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    /* 添加一些内边距 */
    border-radius: 4px;
}

.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    margin: 0;
}

#searchBox {
    width: 80%;
    padding: 0.5rem;
    margin-top: 1rem;
}

main {
    padding: 1rem;
}

.app-list {
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
}

.app-icon {
    border-radius: 0.5rem;
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.app-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-name {
    margin: 0;
}

.app-description {
    color: #666;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.app-download {
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: auto;
}

.app-download:hover {
    background-color: #0056b3;
}
